<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">

        {% include 'components/global/header.twig' %}

        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}

        {% include 'html-footer.twig' %}
    </body>
</html>
