<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }} font-inter">
        <div class="app">
            <div id="overlay"></div>

            {% include 'components/global/header.twig' %}

            {% block content_region %}
            {% endblock %}


            {% include 'components/global/footer.twig' %}
        </div>

        {% include 'html-footer.twig' %}
    </body>
</html>
