<!-- This example requires Tailwind CSS v2.0+ -->
<section class="overflow-hidden">
  <div class="relative max-w-7xl mx-auto pt-10 md:pt-20 pb-12 px-6 sm:px-8 lg:px-10 lg:py-20">
    <svg class="absolute top-full left-0 transform translate-x-80 -translate-y-24 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
      <defs>
        <pattern id="e56e3f81-d9c1-4b83-a3ba-0d0ac8c32f32" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="784" height="404" fill="url(#e56e3f81-d9c1-4b83-a3ba-0d0ac8c32f32)" />
    </svg>

    <svg class="hidden lg:block absolute right-full top-1/2 transform translate-x-1/2 -translate-y-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
        <pattern id="56409614-3d62-4985-9a10-7ca758a8f4f0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#56409614-3d62-4985-9a10-7ca758a8f4f0)" />
    </svg>

    <div class="relative flex flex-col md:flex-row">
        {% if page_block.image %}
            <div class="flex self-center md:self-start flex-shrink-0">
                <img class="h-64 w-64 rounded-lg xl:h-80 xl:w-80" src="{{page_block.image}}" alt="KVW image">
            </div>
        {% endif %}

      <div class="relative mt-10 md:mt-0 md:ml-10">
        <blockquote class="relative">
          <div class="text-lg leading-9 font-normal text-gray-900">
            <p>
             {{page_block.short_description}}
             {% if page_block.add_read_more %}
                <a class="font-semibold" href="{{page_block.read_more_link}}">Read more...</a>
            {% endif %}
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
